# Python caches
__pycache__/
*/__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# Django
*.sqlite3
*.log
db.sqlite3.bak_20260319_150439
login_ids

# IDE/editor
.vscode/
*.code-workspace

media/uploads/