# Python caches
__pycache__/
*/__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# Django
*.sqlite3
*.log


# IDE/editor
.vscode/
*.code-workspace

media/uploads/frontal/
media/uploads/left_lateral/
media/uploads/right_lateral/
media/gradcam/
media/uploads/requests/frontal/
media/uploads/requests/left_lateral/
media/uploads/requests/right_lateral/

Thesis_Data/
testing_data/
outputs/plots/
ml/checkpoints/
.git-rewrite/
db.sqlite3.bak_*
